body {background-color: #ffe6f2}
	title {color:#ff1a66}
	h1 {color: #800033;font-style: serif}
	p{color: #ff0066}
	h2 {color: #800033;border-style: dotted}
	h3{color: #800033;border-style: dotted}
